*{
    margin: 0;
    padding: 0;
}
.cabeca{
    background-color:rgb(255, 255, 255);
    color: rgb(79, 170, 250);
    display: flex;
    justify-content: space-around;
    padding: 14px;
}
.cabecalho{
    width: 10%;
}
.listaitem{
display: inline-block;
margin: 0 19px;
font-size: 24px;
}
body{
    background-color: rgb(71, 73, 82);
}